// these are height/width values from the Sketch file; used to make our calculations easier
$base-height: 1004;
$base-width: 1440;

$block-scale-start: 0.3;
$block-transition-duration: .4s;
$block-transition-stagger: .1s;

$block-opacity: 0.3;

@function vOffset($offset) {
	@return percentage($offset / $base-height);
}

@function hOffset($offset) {
	@return percentage($offset / $base-width);
}

@mixin pos-helper($width, $height, $top, $left, $animate-order) {
	top: $top;
	left: $left;
	width: $width;
	height: $height;
	transition-delay: $block-transition-stagger * $animate-order;
}

@mixin menu-child($child, $width, $height, $top, $left, $background, $animate-order) {
	&#{$child} {
		@include pos-helper($width, $height, $top, $left, $animate-order);
		background: $background;
		
	}
}


@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $mobile - 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $mobile) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $tablet) { @content; }
  }
}