#latest-project {
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	padding: 85px 130px;
	overflow: auto;


	.close-btn {

		&:before, &:after {
			background-color: #5E5E5E;
		}

		&:hover {
			&:before, &:after {
				background-color: #D88800;
			}
		}
	}

	nav {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;

		$arrow-height: 5em;
		$arrow-width: 5em;
		$arrow-stroke-width: 0.4em;
		$border-color: #5E5E5E;

		a {
			position: fixed;
			height: 0;
			width: 0;
			top: 0;
			bottom: 0;
			margin: auto 0;
			border-top: $arrow-height solid transparent;
			border-bottom: $arrow-height solid transparent;
			font-size: 1vw;
			color: transparent;

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				top: 0;
				bottom: 0;
				margin: auto 0;
				z-index: 9999;
				border-top: $arrow-height - $arrow-stroke-width solid transparent;
				border-bottom: $arrow-height - $arrow-stroke-width solid transparent;
			}
		}

		a:first-child {
			left: 2vw;
			border-right: $arrow-width solid $border-color;

			&:after {
				right: -$arrow-width;
				border-right: $arrow-height - $arrow-stroke-width solid #fff;

			}
		}

		a:last-child {
			right: 2vw;
			border-left: $arrow-width solid $border-color;

			&:after {
				left: -$arrow-width;
				border-left: $arrow-height - $arrow-stroke-width solid #fff;
			}
		}
	}

	.content {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 1;

		h2.project-title {
			text-align: center;
			color: #8C8C8C;
			margin-bottom: 1em;
		}

		p {
			padding: 2em 4.2em 0;
			text-align: center;
		}

		.view-project {
			text-align: center;
			display: block;
			margin-bottom: 2em;
		}

	}
}