$border-size: .1rem;
$footer-height: 60px;
$tile-mobile-width: 100%;
$tile-mobile-height: 6em;

.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: auto;

    @include respond-to(tablet) {
        max-width: ($base-width / $base-height) * 100vh;
        max-height: ($base-height / $base-width) * 100vw;
    }
    .no-cssvwunit & {
        max-width: ($base-width / $base-height) * 100vh;
        max-height: ($base-height / $base-width) * 100vw;
    }
}

nav.main-nav {
    display: block;

    @include respond-to(tablet) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: $footer-height;
        left: 0;
        &:before,
        &:after {
            position: absolute;
            z-index: 9997;

            display: block;

            content: '';
            transition: $block-transition-duration all;
            transform: scale3d(1, 1, 1);

            opacity: 1;
            border: $border-size solid $steel-blue;
        }
        &:before {
            background: #d88800;

            @include pos-helper(17%, 22%, 78%, 42%, 5);
        }
        &:after {
            background: #81b245;

            @include pos-helper(15%, 14%, 44%, 59%, 2);
        }
    }
    ul {
        margin: 0;
        padding: 0;

        list-style: none;
        li {
            position: relative;

            display: block;
            overflow: hidden;

            width: $tile-mobile-width;
            height: $tile-mobile-height;

            transition: $block-transition-duration all;
            text-decoration: none;

            opacity: 1;
            color: #fff;
            border: $border-size solid $steel-blue;
            background-size: cover !important;

            @include menu-child('.design-process', $tile-mobile-width, $tile-mobile-height, auto, auto,    url('../images/tiles/process.jpg'), 3);
            @include menu-child('.the-team', $tile-mobile-width, $tile-mobile-height, auto, auto,  url('../images/tiles/the_team.jpg'), 6);
            @include menu-child('.tools', $tile-mobile-width, $tile-mobile-height, auto, auto,    url('../images/tiles/tools.jpg'), 1);
            @include menu-child('.partners', $tile-mobile-width, $tile-mobile-height, auto, auto,  url('../images/tiles/partners.jpg'), 7);
            @include menu-child('.ux-principles', $tile-mobile-width, $tile-mobile-height, auto, auto,  url('../images/tiles/ux_principles.jpg'), 0);
            @include menu-child('.latest-project', $tile-mobile-width, $tile-mobile-height, auto, auto,  url('../images/tiles/latest_project.jpg'), 4);
            -ms-behavior: url(/backgroundsize.min.htc);
            @include respond-to(tablet) {
                position: absolute;

                @include menu-child('.design-process', 28%, 34%, 13%, 0,    url('../images/tiles/process.jpg'), 3);
                @include menu-child('.the-team', 46%, 44%, 0,   28%,  transparent, 6);
                @include menu-child('.tools', 28%, 49%, 47%, 0,    url('../images/tiles/tools.jpg'), 1);
                @include menu-child('.partners', 31%, 34%, 44%, 28%,  url('../images/tiles/partners.jpg'), 7);
                @include menu-child('.ux-principles', 26%, 58%, 0,   74%,  url('../images/tiles/ux_principles.jpg'), 0);
                @include menu-child('.latest-project', 41%, 42%, 58%, 59%,  url('../images/tiles/latest_project.jpg'), 4);
            }
            &:before {
                position: absolute;
                top: -5%;
                left: -5%;
                right: -5%;
                bottom: -5%;

                display: block;

                content: '';
                transition: .4s background-color, .4s opacity;

                opacity: 1 - $block-opacity;
                background-color: $steel-blue;
                .no-opacity & {
                    display: none;
                }
            }
            a {
                font-family: 'oswaldbold';
                font-size: 6vw;
                font-weight: normal;

                position: absolute;

                display: table-cell;

                top: -5%;
                left: -5%;
                right: -5%;
                bottom: -5%;

                transition: .2s color;
                text-align: center;
                vertical-align: middle;
                text-transform: uppercase;

                color: #fff;

                @include respond-to(tablet) {
                    font-size: 3.5vmin;
                }
                .no-cssvminunit & {
                    font-size: 3.5vmin;
                }
                .no-opacity & {
                    background: $steel-blue;

                    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{(1-$block-opacity) * 100})';
                }
                &:before {
                    display: inline-block;

                    width: 0;
                    height: 100%;

                    content: '';
                    vertical-align: middle;
                }
                &:hover {
                    color: $steel-blue;
                }
            }
            span.title {
                display: inline-block;

                width: 95%;

                vertical-align: middle;
            }
            .bg-video {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;

                height: 100%;

                transition: .4s opacity;
            }
            &:hover {
                &:before {
                    background-color: #fff;
                }
            }
            .content {
                visibility: hidden;

                opacity: 0;
            }
        }
    }
}

.ng-enter nav.main-nav {
    ul li,
    &:before,
    &:after {
        transform: scale3d($block-scale-start, $block-scale-start, $block-scale-start);

        opacity: 0;
    }
}


footer {
    line-height: $footer-height;

    width: 100%;
    height: $footer-height;

    color: #fff;

    @include respond-to(tablet) {
        position: absolute;
        bottom: 0;
    }
    .copyright {
        font-family: 'source_sans_proregular';
        font-size: 13px;

        width: 100%;

        text-align: center;

        @include respond-to(tablet) {
            line-height: $footer-height;

            float: left;

            width: 50%;
            padding-left: 3%;

            text-align: left;
        }
    }
    .logos {
        width: 100%;

        text-align: center;

        @include respond-to(tablet) {
            float: right;

            width: 50%;
            padding-right: 3%;

            text-align: right;
        }
        h3 {
            font-size: 0;
            line-height: $footer-height;

            display: inline-block;

            margin: 0;
            margin-right: 5%;
            padding: 0;

            color: transparent;
            &:first-child {
                width: 25%;
                height: 100%;

                background: url('../images/coloniallife_logo.svg') no-repeat 50% 50%;
                background-size: contain;

                -ms-behavior: url(/backgroundsize.min.htc);
            }
            &:last-child {
                width: 21%;
                height: 100%;
                margin-right: 0;

                background: url('../images/unum_logo.svg') no-repeat 50% 50%;
                background-size: contain;

                -ms-behavior: url(/backgroundsize.min.htc);
            }
        }
    }
}
