#the-team {
	.backgroundsize & {
		background-image: url('../images/section-bgs/the_team.jpg');
	}

	h2 {
		text-align: left;
		margin-bottom: 0;
		font-size: 4em;

		&:before {
		    content: "\2006";
		    display: block;
    		font-family: 'unum-ux-team';
    		text-indent: 0;
    		font-size: 1em;
    		color: #d88800;
		}
	}

	.content > h3 {
        font-family: 'ff-dax-wide-web-pro',sans-serif;
		font-size: 2em;
		font-weight: 400;
		margin-top: 0.1em;
	}
}