@mixin base {
    color: $dark-white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    padding-bottom: 70px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        text-align: center;
    }

    @media screen and (min-width: 1600px) {
        font-size: 38px;   
    }

    @media screen and (min-width: 1700px) {
        font-size: 45px;
    }
}

&__content {
    @include base;
}