@mixin base {
    color: $white;
    font-size: 45px;
    font-weight: 600;
    font-variant: small-caps;
    line-height: 1;

    @media screen and (min-width: 768px) {
        font-size: 73px;
        text-align: center;
    }

    @media screen and (min-width: 1600px) {
        font-size: 85px;
    }

    @media screen and (min-width: 1700px) {
        font-size: 95px;
    }
}

&__heading {
    @include base;
}