@mixin base {
    color: $white;
    font-size: 45px;
    font-variant: small-caps;
    line-height: 1;
    font-weight: 600;

    @media screen and (min-width: 768px) {
        font-size: 73px;
        text-align: center;
    }
}

&__heading {
    @include base;
}