@mixin base {
    margin-top: 80px; 
    padding: 50px 20px;
    padding-bottom: 0;

    @media screen and (min-width: 1000px) {
        padding: 150px;
    }
}

.banner {
    @include base;

    @import 'heading';
    @import 'content';
}