@mixin base {
    color: $white;
    cursor: pointer;
    display: table; // is this bad for semantics? 
    width: auto;
    padding: 0;

    @media screen and (min-width: 600px) {
        display: inline-block;
    }
}

&__item {
    @include base;
}

&__item + &__item {
    @media screen and (min-width: 600px) {
        padding-left: 10px;
    }
}