<div id="design-process" class="expanding-section scrollable">
	<div class="content">
		<h2>UX Design Process</h2> 

		<div class="grid-items">
			<div class="grid-item">
				<h3>Collect Requirements</h3>
				<p>Business, legal, &amp; user requirements</p>
			</div>
			<div class="grid-item">
				<h3>Wireframe / Prototype</h3>
				<p>Align user &amp; business goals, create storyboards, personas, &amp; user profiles, perform user tests</p>
			</div>
			<div class="grid-item">
				<h3>Design</h3>
				<p>User-centric, responsive (designed for every screen size)</p>
			</div>
			<div class="grid-item">
				<h3>Develop Front&nbsp;End</h3>
				<p>Translate designs into HTML5, CSS3, &amp; JS</p>
			</div>
			<div class="grid-item">
				<h3>Content Development</h3>
				<p>Search engine optimized, device-enabled</p>
			</div>
			<div class="grid-item">
				<h3>Progressive Enhancement</h3>
				<p>Continuous cycle of improvement (content, visual design, functionality)</p>
			</div>
		</div>
	</div>
	<a href="#/" class="close-btn"></a>
</div>