<div id="latest-project" class="slide-up scrollable">
	<a href="#/" class="close-btn"></a>
	<nav class="project-nav">
		<a href="#" ng-hide="projects.currentProject <= 0" ng-click="projects.prevProject($event)">Previous Project</a>
		<a href="#" ng-hide="projects.currentProject >= projects.allProjects.length - 1" ng-click="projects.nextProject($event)">Next Project</a>
	</nav>
	<ul rn-carousel rn-carousel-index="projects.currentProject">
		<li ng-repeat="project in projects.allProjects" class="project">
			<div class="content">
				<h2 class="project-title">{{ project.title }}</h2>
				<img class="featured" ng-src="{{ project.featured_image }}" alt="{{ project.title }}">
				<div ng-bind-html="project.content"></div>
			</div>
		</li>
	</ul>
</div>