<nav class="main-nav">
	<a class="page-title" href="#">
		<h1>UX: Enterprise User Experience</h1>
		<logo></logo>
	</a>
	<ul>
		<li class="design-process"><a href="#/design-process"><span class="title">Design Process</span></a></li>
		<li class="the-team"><a href="#/the-team">
			<span class="title">The Team <span>(Video)</span></span>
			<video class="bg-video" src="video/vid.mp4" autoplay loop></video>
		</a></li>
		<li class="tools"><a href="#/tools"><span class="title">Tools</span></a></li>
		<li class="partners"><a href="#/partners"><span class="title">Partners</span></a></li>
		<li class="ux-principles"><a href="#/ux-principles"><span class="title">UX Principles</span></a></li>
		<li class="latest-project"><a href="#/projects"><span class="title">Latest Project</span></a></li>
	</ul>
</nav>