<div id="the-team" class="expanding-section scrollable">
	<div class="content">
		<h2></h2>
		<h3>Creating a positive customer experience</h3>

		<div class="grid-items">
			<div class="grid-item">
				<h3>Program Manager:</h3>
				<p>Identifies business and resource needs. Maintains overall view of enterprise project needs.</p>
			</div>
			<div class="grid-item">
				<h3>Information Architect:</h3>
				<p>Understands the project scope and business/legal requirements. Identifies user goals, profiles, and personas. Creates storyboards, wireframes, and prototypes for user testing.</p>
			</div>
			<div class="grid-item">
				<h3>Designer:</h3>
				<p>Translates wireframes into appealing &amp; intuitive visual designs. Ensures that brand awareness is consistent across digital mediums. Collaborates with Front End Development to ensure design intentions are build-able.</p>
			</div>
			<div class="grid-item">
				<h3>Front End Developer:</h3>
				<p>Writes maintainable code, aligned with powerful frameworks and libraries. Follows best- practices/standards, multi-device development and bandwidth consideration. Creates and manages UI Framework with the latest coding standards.</p>
			</div>
			<div class="grid-item">
				<h3>Content Strategist:</h3>
				<p>Creates and manages web content on digital properties. Owns SEO/PPC strategy and maintenance.</p>
			</div>
			<div class="grid-item">
				<h3>Digital Marketing Analyst:</h3>
				<p>Manages the strategy and execution of the company’s reporting, analytics, and data management as it relates to our digital properties and programs.</p>
			</div>
		</div>
	</div>
	<a href="#/" class="close-btn"></a>
</div>