<div id="tools" class="expanding-section scrollable">
	<div class="content">
		<h2>UX Tools &amp; Frameworks</h2>
		<div class="grid-items">
			<div class="grid-item">
				<h3>Collect Requirements</h3>
				<p>sharepoint / confluence (used project-wide)</p>
			</div>
			<div class="grid-item">
				<h3>Wireframe / Prototype</h3>
				<p>axure / omnigraffle / invision app</p>
			</div>
			<div class="grid-item">
				<h3>Design</h3>
				<p>sketch / photoshop / pages / keynote / invision app / dropbox (for business)</p>
			</div>
			<div class="grid-item">
				<h3>Develop Front&nbsp;End</h3>
				<p>html5 / css3 (sass) / js / jquery / grunt / npm / knockout.js / asp.net mvc / bootstrap</p>
			</div>
			<div class="grid-item">
				<h3>Content Development</h3>
				<p>sitecore / seomoz</p>
			</div>
			<div class="grid-item">
				<h3>Progressive Enhancement</h3>
				<p>oogle analytics / webtrends</p>
			</div>
		</div>
	</div>
	<a href="#/" class="close-btn"></a>
</div>