@mixin base {
    background-color: $deep-navy-blue;
    padding-bottom: 40px;

    @include containContent;
}

.summary {
    @include base;

    @import 'actions';
    @import 'heading';
    @import 'action';

    &--alt {
        @include base;
        
        box-shadow: inset 0 6px 15px 0 rgba(0, 0, 0, 0.22);

        @import 'actions';
        @import 'heading';
        @import 'action';
        
    }
}