@mixin base {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }
}

.logo-link {
    @include base;

    @import 'image';
}