@mixin base {
    height: 27px;
    width: 162px;
    border-radius: 100px;
    background-color: $white;
    background-image: url('../../../images/1010.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 5%;
}