@mixin base {
    font-variant: small-caps;
    font-size: 36px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: sub;

    &:hover {
        color: $accent-blue;
    }


    @media screen and (min-width: 1700px) {
        font-size: 50px;
    }
}

&__heading {
    @include base;
}