@mixin base {
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        padding-bottom: 364px;
    }
}

.resources {
    @include base;

    @import 'resource';
    @import 'image';
    @import 'heading';
    @import 'descrip';
}