@mixin base {
    background-color: $light-navy-blue;
    padding: 20px;
    margin-bottom: 15px;
    color: $white;

    &:hover >> .resources__heading {
        color: $accent-blue;
    }
}

&__resource {
    @include base;
}