@mixin base() {
    background-color: $deep-navy-blue;
    border-bottom: solid 1px $white;
    text-align: center;
    width: 100%;
    padding: 6px 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    

    @media screen and (min-width: 768px) {
        padding-right: 100px;
        background-color: #fff;
        border-bottom: none;
        box-shadow: none;
        flex: 1 1 0;
        text-align: right;
    }
}