@mixin base() {
    text-align: center;
    padding: 10px 20px;
    border-bottom: solid 1px $white;
    background-color: $deep-navy-blue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    // position: fixed;
    // width: 100%;
    // margin-bottom: 100px;
}