@mixin base() {
    color: #fff;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 400;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        color: #333;
        font-size: 22px;
        font-weight: 600;
    }
}

&__link {
    @include base;

    &--active {
        @include base;
        color: $accent-blue; 
    }
}