@mixin base() {
    @include full-width(20px, 20px);
    display: flex;
    flex-wrap: wrap;
    background-color: $deep-navy-blue;
    padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    @include full-width(100px, 100px);
  }
}