@mixin base {
    list-style-type: none;
    font-variant: small-caps;
    font-size: 20px;
    padding: 0;
    margin: 0;
    // flex items still extend to 100%
    // display: flex;
    // flex-direction: column;
    // flex-grow: 0;
}