@mixin underline($color) {
    content: '';
    display: block;
    width: 33px;
    border: 1px solid $color;
    transition: width 1s;
    margin-top: 5px;
}

@mixin visually-hidden() {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@mixin full-width($padding-right: 0px, $padding-left: 0px) {
  padding-left: calc((100vw - 100%) / 2 + #{$padding-left});
  padding-right: calc((100vw - 100%) / 2 + #{$padding-right});
}

@mixin grid() {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 683px) {
    align-items: stretch;
    justify-content: flex-start;
  }
}

@mixin gridItem() {
  margin-bottom: 2rem;
  @media (min-width: 600px) {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 50%;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (min-width: 600px) and (max-width: 999px) {
    @include flexWidths(2);
  }
  @media (min-width: 1000px) and (max-width: 1199px) {
    @include flexWidths(3);
  }
  @media (min-width: 1200px) {
    @include flexWidths(3);
  }

}

@mixin flexWidths($items: 1) {
  flex-basis: calc(#{100/$items}% - 1rem + (1rem/#{$items}));
  &:nth-child(#{$items}n) {
    margin-right: 0;
  }
}

@mixin teamBio ($direction) {

  @if $direction == "right" {
    transform: translateX(100%);
    text-align: left;
    padding-right: 0;
    padding-left: 20px;
      & > .team__bio::before {
        margin-left: -20px;
      }
  } @else if $direction == "left" {
      transform: translateX(-100%);
      text-align: right; 
      padding-left: 0;
      padding-right: 20px;
        & > .team__bio::before {
          margin-left: 20px;
      }
  }
}

@mixin containContent {
    margin-left: calc(0px - (100vw - 100%) / 2);
    margin-right: calc(0px - (100vw - 100%) / 2);
    padding-left: calc((100vw - 100%) / 2);
    padding-right: calc((100vw - 100%) / 2);
}