$deep-navy-blue: #142e44;

$header-text: #f2f1f0;

$accent-blue: #4aaeca;

$light-gray: #4a4a4a;

$white: #fff;

$golden-yellow: #f1c44f;

$font-family-main: 'Source Sans Pro';

$steel-blue : #265b80;

$leaf : #67a14c;

$dark-red : #7f2725;

$pumpkin : #e0832e;

$ocean : #3baecc;
