@mixin full-width($padding-right: 0px, $padding-left: 0px) {
  margin: 0 calc(0px - (100vw - 100%) / 2);

  padding-left: calc((100vw - 100%) / 2 + #{$padding-left});
  padding-right: calc((100vw - 100%) / 2 + #{$padding-right});
}

@import '../variables';
@import '../mixins';

.about {
    @include full-width(20px, 20px);
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        @include full-width(100px, 100px);
        padding-bottom: 150px;
    }


    &__heading {
        font-size: 45px;
        font-weight: 600;
        color: $white;
        font-variant: small-caps;
        line-height: 1;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
            font-size: 73px;
        }
    }

    &__para {
        color: $dark-white;
        font-size: 20px;
        max-width: 1200px;

        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
    }
}

.bit {
    width: 100%;
    color: $dark-white;
    padding-bottom: 50px;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        padding-bottom: 0;
        
    }

    &__content {
        @include full-width(20px, 20px);

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50%;
            flex: 1 1 50%;
            max-height: 500px;
        }

        @media screen and (min-width: 1000px) {
            @include full-width(100px, 100px);
        }
    }

    &__heading {
        color: $white;
        font-variant: small-caps;
        font-size: 36px;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 1700px) {
            font-size: 73px;
        }
    }

    &__para {
        font-size: 18px;

        @media screen and (min-width: 1700px) {
            font-size: 26px;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;

        @media screen and (min-width: 1700px) {
            font-size: 26px;
        }
    }

    &__image-container {
        max-width: 55%;
        flex: 1 1 55%;
        margin: 0;
        padding: 0;
        font-size: 0;
        height: 100%;
    }

    &__image {
        display: none;

        @media screen and (min-width: 768px) {
            display: inline-block;
            width: 100%;
            height: auto; // now they get huge at full-screen...
        }
    }

    &:nth-child(odd) {
        @media screen and (min-width: 768px) {
            text-align: right;
        }
    }
}

.process {
    @include full-width(20px, 20px);
    color: $dark-white;

    @media screen and (min-width: 768px) {
        @include full-width(100px, 100px);

    }

    &__heading {
        color: $white;
        font-variant: small-caps;
        font-size: 45px;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
            font-size: 73px;
        }
    }

    &__para {
        font-size: 22px;
        margin-top: 0;
        color: $dark-white;
    }
}

.skillset {
    // grid component applies flex: 
    flex: 1 1 100%;
    padding: 10px 10px 50px 0;
    max-width: 100%;

    @media screen and (min-width: 600px) {
        flex: 1 1 50%;
        max-width: 50%;
    }

    @media screen and (min-width: 900px) {
        flex: 1 1 33.3333%;
        max-width: 33.3333%;
    }

    &__heading {
        color: $white;
        font-variant: small-caps;
        margin-bottom: 0;
        font-size: 32px;
        display: inline-block;
    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__item {
        color: $dark-white;
        font-size: 18px;
        padding-bottom: 15px;
        // flex: 1 1 33%;
        // max-width: 33%;
        // align-self: stretch;
    }
}

.skillset + .skillset {
    @media screen and (min-width: 768px) {
        // padding-left: 50px;
    }
}