@mixin base {
    @include full-width(20px, 20px);
        padding-top: 30px;
        padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        @include full-width(100px, 100px);
        padding-bottom: 150px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


    }
}

.about {
    @include base;

    @import 'heading';
    @import 'para';
}