@mixin base {
    background-color: $deep-navy-blue;
    margin-top: 90px;
    padding-top: 45px;
    

    @include containContent;
}
.page-content {
    @include base;

    &--alt {
        background-image: url('../../../images/rectangle-1@2x.png');
        background-repeat: no-repeat;
        background-position: 90%;
        background-size: cover;
        margin-top: 80px;

        @include containContent;
    }
}