@mixin base {
    background-color: $deep-navy-blue;
    margin-top: 80px;
}
.page-content {
    @include base;

    &--alt {
        margin-top: 80px;
        background-image: url('../../../images/rectangle-1@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}