@mixin base {
    // background-color: $deep-navy-blue;
    // margin-top: 90px;
    // padding-top: 45px;
    overflow-x: hidden;
    

    @include containContent;
}
.page-content {
    @include base;

    &--alt {
        background-image: url('../../../images/rectangle-1@2x.png');
        background-repeat: no-repeat;
        background-position: 90%;
        background-size: cover;
        display: block;
        margin-top: 80px;

        @include containContent;
    }
}