.bio-container {
    @include full-width(20px, 20px);
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

@media screen and (min-width: 750px) {

    .bio-container {
        @include full-width(100px, 100px);
    }
}


.bio-container__image {
    object-fit: contain;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    height: auto;
    max-width: 100%;
    margin-right: 10px;
}

.bio-container__image--img {
    border-radius: 10px;
    max-width: 100%;

}


.bio-container__content {
    flex: 1 1 auto;
}


.bio-container__descrip {
    font-family: $headings-font-family-alt;
    font-size: 16px;
    color: #4a4a4a;
}


.descrip--name {
    font-weight: bold;
}


.bio-container__catogories {
    font-family: $headings-font-family-alt;
    font-size: 16px;
    color: #545454;
    font-weight: bold;
}


.catogories--title {
    font-weight: normal;
    padding-right: 5px;
}