@mixin base {
    background-color: $deep-navy-blue;
    max-width: 320px;
    padding: 20px;
    position: fixed;
    top: 100vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    // @include teamBio(left);

    @media screen and (min-width: 550px) {
        max-width: 420px;
    }

    @media screen and (min-width: 768px) {
        background-color: transparent;
        opacity: 0;

        // &:nth-child(2n) {
        //     @media screen and (min-width: 768px) {
        //         @include teamBio(left);
        //     }
        // }

        // @include teamBio;
    }
}

&__content {
    @include base;
}