@mixin base {
    // controlling the look and positioning of the content inside the modal on mobile
    background-color: $deep-navy-blue;
    max-width: 320px;
    padding: 20px;
    position: fixed;
    top: 100vh;
    left: 0;
    right: 0;
    margin: 0 auto;

    @media screen and (min-width: 550px) {
        max-width: 420px;
    }

    // removes the background color and changes position to absolute on desktop
    @media screen and (min-width: 768px) {
        background-color: transparent;
        position: absolute;
        top: 0;
        z-index: -1;
        opacity: 0;
        padding: 0;
        max-width: 100%;
    }
}

&__content {
    @include base;

    // this positions the biographies on the team page, at larger sizes. Edit the nth-child selector to work with your grid once you get smaller pictures. 
    @media screen and (min-width: 768px) {
        .team__item:not(:nth-child(3n)) [data-active="true"] & {
            @include teamBio(right);
        }

        .team__item:nth-child(3n) [data-active="true"] & {
            @include teamBio(left);
        }
    }

    @media screen and (min-width: 1200px) {
        .team__item:nth-child(3n) [data-active="true"] & {
            @include teamBio(right);
        }
        
        .team__item:nth-child(3n+3) [data-active="true"] & {
            @include teamBio(left);
        }

        .team__item:nth-child(4n+4) [data-active="true"] & {
            @include teamBio(left);
        }


        // .team__item:not(:nth-child(4n)) [data-active="true"] & {
        //     @include teamBio(right);
        // }
    }
}