@mixin base {
    display: grid;
    // one row and one column at smallest sizes
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-gap: 20px;

    @media screen and (min-width: 660px) {
        // two columns (idk how we get the rows out of this, but we do!)
        grid-template-columns: 1fr 1fr;
    }

    // Figure out in here where your media queries need to be and how many columns you need

    @media screen and (min-width: 768px) {
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: start;
    }
}

&__grid {
    @include base;
}