@mixin base {
    font-size: 45px;
    font-weight: 600;
    font-variant: small-caps;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 73px;
        text-align: left;
    }
}

&__heading {
    @include base;
}