@mixin base {
    height: 286px;
    width: 224px;
    margin-bottom: 20px;
    position: relative;

    @media screen and (min-width: 1200px) {
        height: 400px;
        width: auto;
    }
    // filter: grayscale(100%);

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: red;
    }

    &:hover {
        filter: none;
        // cursor: pointer;
        // transition: filter 0.3s; makes outline overly janky
        // outline: 1000vw solid hsla(0, 0%, 0%, 0.5);
        // z-index: 1;
    } 

    @media screen and (min-width: 1600px) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 900px) {

    &__image:hover ~ &__content {
        opacity: 1;
        z-index: 1;
    }
}

&__image {
    @include base;
}