@mixin base {
    height: 286px;
    margin-bottom: 20px;
    position: relative;
    width: 224px;

    @media screen and (min-width: 1200px) {
        height: 400px;
        width: auto;
    }

    &:after {
        background-color: red;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {
        filter: none;
    } 

    @media screen and (min-width: 1600px) {
        margin-bottom: 20px;
    }
}

[data-active="true"] .team__image {
  opacity: 0.2;
  transition: opacity 0.2s;
}

&__image {
    @include base;
}