@mixin base {
    height: 200px;
    position: relative;

    @media screen and (min-width: 550px) {
        height: 250px;
    }

    @media screen and (min-width: 900px) {
        height: 300px;
    }

    @media screen and (min-width: 1200px) {
        height: 400px;
    }
}


&__image {
    @include base;
}