@mixin base {
    // padding-top: 12px;
    color: $dark-white;
    margin-top: 170px;
    padding-bottom: 40px;
}

.team {
    @include base;

    @import 'grid';
    @import 'item';
    @import 'bio';
    @import 'content';
    @import 'heading';
    @import 'image';
    @import 'member';
    @import 'name';
    @import 'para';
}