@mixin base {
    position: relative;

    // this changes the opacity of the team member on desktop sizes, this data attribute is being added and removed with the "mouseenter" "mouseleave" events. 
    &[data-active="true"] {
        opacity: 1;
        transition: opacity 0.2s;

        .team__content {
            opacity: 1;
            z-index: 1;
            top: 0px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &[data-active="false"] {
        opacity: 0.05;
        transition: opacity 0.2s;
    }
}

&__member {
    @include base;
}