@mixin base {
    list-style-type: none;
    font-variant: small-caps;
    font-size: 20px;
    max-width: 100%;
    padding: 0;
    background-color: $deep-navy-blue;

    @include full-width(20px, 20px);

    @media screen and (min-width: 750px) {
        @include full-width(100px, 100px);
    }
}