&__arch:after {
    @include underline($ocean);
}

&__arch:hover:after {
    width: 100%;
    transition: width 0.3s;
}

&__design:after {
    @include underline($leaf);
}

&__design:hover:after {
    width: 100%;
    transition: width 0.3s;
}

&__dev:after {
    @include underline($dark-red);
}

&__dev:hover:after {
    width: 100%;
    transition: width 0.3s;
}

&__motion:after {
    @include underline($pumpkin);
}

&__motion:hover:after {
    width: 100%;
    transition: width 0.3s;
}