@mixin base {
    background-color: $deep-navy-blue;
    font-size: 20px;
    font-variant: small-caps;
    list-style-type: none;
    max-width: 100%;
    padding: 0;
}

.search { // changed to search to see lines -- will refactor 
    @include base;
    
    @import 'heading';
    @import 'item';
    @import 'arch';
    @import 'design';
    @import 'dev';
    @import 'motion';
}