@import 'base';

&__link {
    @include base;

    &--active {
        @include base;
        color: $golden-yellow;
    }

    &--desktop {
        @include base;
        color: #333;
        font-size: 22px;
    }
}