@mixin base {
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

&__title {
    @include base;
}