@mixin base {
    color: $white;
    font-size: 36px;
    font-variant: small-caps;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 1700px) {
        font-size: 73px;
    }
}

&__heading {
    @include base;
}