@mixin base {
    display: none;

    @media screen and (min-width: 768px) {
        display: inline-block;
        width: 100%;
        height: auto;
        // @include containContent;
    }
}

&__image {
    @include base;
}