@mixin base {
    font-size: 60px;
    font-variant: small-caps;
    line-height: 0.8;
    margin-bottom: 0;
    color: $dark-white;

    @media screen and (min-width: 768px) {
        font-size: 73px;
    }
}

&__header {
    @include base;
}