@mixin base {
    background-color: $deep-navy-blue;
    color: $white;
    padding-top: 25px;
    position: relative;
    margin-bottom: 100px;

    @media screen and (min-width: 768px) {
        padding-bottom: 50px;
    }
}

.post {
    @include base;

    @import 'header';
    @import 'image';
    @import 'para';
    @import 'detail';
    @import 'list';
}