@mixin base() {
    background-color: $white;
    color: white;
    display: block;
    margin-bottom: 0;
    max-width: 1400px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;

    // @include containContent;

    @media screen and (min-width: 768px) {
        align-items: center;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;

        // @include containContent;
        // margin: 0 auto;

    }
}

.header {
    @include base;

    @import 'heading';

    &--alt {
        @include base;

        text-align: center;
    }
}