@mixin base() {
    background-color: $white;
    color: white;
    display: block;
    margin-bottom: 0;
    max-width: 1400px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    @include containContent;

    @media screen and (min-width: 768px) {
        align-items: center;
        display: flex;
        padding: 10px;

        @include containContent;

    }
}

.header {
    @include base;

    @import 'heading';

    &--alt {
        @include base;

        text-align: center;
    }
}