@mixin base() {
    background-color: $white;
    color: white;
    display: block;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    @include containContent;

    @media screen and (min-width: 768px) {
        align-items: center;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.header {
    @include base;

    @import 'heading';

    &--alt {
        @include base;

        text-align: center;
    }
}