.nav {

    // &__heading {
    //     @include visually-hidden();
    // }

    // &__list {
    //     list-style-type: none;
    //     margin: 0;
    //     padding: 0;
    // }

    // &__item {
    //     color: $white;
    //     display: inline-block;
    // }

    // &__item + &__item {
    //     padding-left: 20px
    // }

    &__link {
        color: $white;
        font-size: 18px;

        &--active {
            color: $golden-yellow;
        }
    }
}

