@mixin base() {
    color: $white;
    background-color: $deep-navy-blue;
    @include full-width(20px, 20px);
    margin-top: 90px;
    padding-top: 12px;

    @media screen and (min-width: 768px) {
        @include full-width(100px, 100px);
    }
}