&__option {
    display: inline-block;
    width: 10px;
    height: 10px;

    &--active {
        display: inline-block;
        width: 10px;
        height: 10px;
        text-align: center;
    }
}