// @import 'colonial-branding/lite';
@import './components/mixins';
@import './components/variables';
@import './components/page-wrapper/page-wrapper';
@import './components/header/index';
@import './components/nav/index';
@import './components/page-content/index';
@import './components/carousel/index';
@import './components/filter/index';
@import './components/search/index';
@import './components/branding/index';
@import './components/logo-link/index';
@import './components/banner/index';
@import './components/summary/index';
@import './components/grid/index';
@import './components/article/index';
@import './components/about/index';
@import './components/bit/index';
@import './components/process/index';
@import './components/skillset/index';
@import './components/team/index';
@import './components/page-footer/index';

@import './components/post/index';
@import './components/resources-header/index';
@import './components/resources/index';


* {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

html {
    height: 100%;
}

body {
    color: #111;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-family-main;
    overflow-x: hidden;
    background-color: #142e44;
}

abbr {
    text-decoration: none;
}

